* {
    font-family: monospace;
    margin: 0;
}

body {
    min-height: 400px;
    min-width: 600px;
}

#header {
    padding: 5px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

#title {
    margin: 0;
    display: inline;
}

#logo {
    height: 30px;
    top: 3px;
    position: relative;
}

#cost::before {
    content: "$"
}

#cost {
    display: inline;
}

#settingsHeader {
    margin: 10px 0 10px 10px;
}

#settingsTitle {
    display: inline;
}

#version {
    margin: 0;
    display: inline;
}

#version::before {
    content: "v"
}

#openSettings {
    position: absolute;
    top: 12px;
    right: 7px;
    padding: 3px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#settings {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
}

#settingsForm {
    /* display inputs stacked, with text aligned to the left */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

#settingsForm label {
    margin-left: -4px;
}

#settingsForm input {
    margin: 5px 0 0 -6px;
}

#settingsForm button[type="submit"] {
    margin-right: -5px;
}

#closeSettings {
    position: absolute;
    top: 6px;
    right: 5px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 30px;
    height: 25px;
    font-size: 12px;
    color: #676767;
}

.chatMessage {
    margin: 5px 2px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    display: inline;
}

.user {
    background-color: #f1f1f1;
}

.assistant::before {
    content: "Evie: ";
    font-weight: bold;
}

.assistant {
    background-color: #cdeaff;
}

#chatBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

#chatLog {
    height: 299px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}

form * {
    margin: 0 2px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    width: 100%;
    word-break: break-word;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    margin-left: auto;
}

button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

button:active, #openSettings:active, #closeSettings:active {
    background-color: #ddd;
}

a {
    color: #2a2af1;
    text-decoration: none;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f5f5f5;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
  }

pre {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
    padding: 5px;
    margin: 5px 0;
    white-space: pre-wrap;
}

/* pre::before {
    content: "Copy Code";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8da2b1;
    color: white;
    padding: 2px;
    border-radius: 0 3px 0 7px;
    cursor: pointer;
} */

pre code {
    background-color: transparent;
    border: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
    


::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    margin-left: -5px;
}

.lds-ellipsis div {
    position: absolute;
    top: -3.4px;
    width: 4.66667px;
    height: 4.66667px;
    border-radius: 50%;
    background: #393e43;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 3px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 3px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 12px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 21px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(9px, 0);
    }
}